*.class
*.iml
.classpath
.project
bin/
bin_memory/
bin_shop/
bin_teams/
bin_towny/
bin_factions/
dist/
src/missing_api.txt
.settings/org.eclipse.jdt.core.prefs
lib/bukkit-1.9-R0.1-SNAPSHOT.jar
.idea/
out/
lib/Residence.jar
lib/NoCheatPlus.jar
lib/PlaceholderAPI.jar
Build/
.gradle/
